terraform {
  required_providers {
    proxmox = {
      source = "telmate/proxmox"
      version = "3.0.2-rc06"
    }
  }
}
  
provider "proxmox" {  
  pm_api_url = "https://pve.thejfk.ca/api2/json"    
  pm_api_token_id = "terraform@pam!main_terraform"    
  pm_api_token_secret = "b01b0155-c025-4b3a-b173-cb6b1bf9eb17"    
  pm_tls_insecure = false
}

/* Configure Cloud-Init User-Data with custom config file */
resource "proxmox_vm_qemu" @@@vm_name {  
  count       = @@@count
  vmid        = var.vmid
  name        = var.vm_name
  description = "description"
  target_node = var.pve_node
  agent       = 1

  ##existing boot disk, cloned and expanded as needed
  disks {    
    scsi{
      scsi0{
        disk{
          backup               = true
          format               = "raw"          
          storage              = "@@@storage_location"                 
          iothread             = false           
          readonly             = false 
          replicate            = true 
          size                 = var.storage                    
        }
      }
    }    
    ide {
      ide3 {
        cloudinit {
          storage = "@@@storage_location"
        }
      }
      ide2{
        cdrom{
          passthrough = false
        }
      }
    }
  }

  serial {
    id = 0
    type = "socket"
  }

  cpu {
    type = "host"
    cores   = var.cores
    sockets = 1    
  }

  start_at_node_boot = true
  @@@image
  full_clone = true
  @@@vm_pool
  scsihw  = "virtio-scsi-pci"
  boot = "order=scsi0;ide3" 
  tags = ""
  
  memory  = var.memory  
  os_type   = "cloud-init"
  ipconfig0 = "ip=${var.vm_ip},gw=${var.vm_gw}"
  @@@fastip
  ciuser = var.pve_user
  cipassword = var.password

 
  @@@network


  sshkeys = <<EOF
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGBHWpYk7FDrlGcuQF1zYauvWa62Kmwj5Z/C/ksB0eK4 kevin@bessie
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDCfKdycPd96nMVRwU166yImlMSlgjlClJP/JpDx6fUx4xECkpxfiRWyBELTmyFp1loC0ABLL6p86GQEeriABsuOkb9zwOiUTxvJEfwuVPKULvE3kt0nZrQQd0KpGFZ2qbhlTNAUVshU0eYGONevh9AwvjkGLZxakiwIl0XF1X/RzbotYmT7D4hA7yy2/8I97hMTL7a5xSLNMJpfd6rNzq9GwX/o4b06iJjlkyMmgUJevWst4ATb9XAgkJwuuPjXM9dSJi5MwjWYkwH0zCJvutPJ5Z28oy7M1R3+oCbGh+7xNmcOhrCcceV4Z5sq3uYOy/kRR3osCU2pFgirs9TxPwqLHTTiPlcxOvAaACNK9tQDSqI+XwNecBKt4NgvbavI4WgcilqAe3lmUlMskJllEwUi3QrnSGP53LaHu2PRxrPTLfLZI5DKReKzB29FE7ZsMiOCbcTB4SJrBRmxfVB7VSNepqqmLh3RyHb0vRWidKshsz9PXb1Zynpn7nGcbMKxFE= kevin@ansible
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCqAJpgMNAvZsnnWEfg4vqU0LpmhNYN1+Pv9D8op3EGrCUHCmLAE9ur732ycHxBr7oKCe/G4xIV/kHivQglkGT0RrFdSNs5JY8gNo/CRICFVLsuBJPftX6b7pBdpIiEcvUugeqMJccxZ34fkiqE+z78v1T4vYSfTJwdRIiT243vJ/DxxLma3XyJgZTPi+2YTKYGKQsIHYicVeR838+mA/4hpTnRc0Oxqn1JPurhQ5wPptlUgpQCY5wGWn2Y17E8SnOmLq303SIvFdYAwZ8rxNJGm+vMuO4sUibcU4gszKI+wUR8lZtdQ2PihbHCxxF0RRtZIVYxZuy2KJsDsu2NRIxNgTU2k+Op+3igGYckYG2eJ814qScUL/KC3HcpBX2S808sT1QwfI4CxL0C3TWYKLsKqJWHLRahbnd6XPMRwi6EXrFxg5qWDD+RgWUND2Gr+2L2dTST8bvDehWbwUA+DeF2pMMT/QT1E7N9Dv71x+nx2MmiFKku9b8uA/AnngUKBn0= kevin@terraform
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFGe6k0+YsaLNbD7WiSq8jVQj0bD2AfR0HKeAlr8Stt/ kevin@fedora
EOF  

  lifecycle {
    ignore_changes = [
      qemu_os,
      start_at_node_boot,
      hagroup,
      hastate,      
      vm_state,
      agent,
      usbs,
      tags,
      network,
      desc
    ]
  }
}
