terraform {
  required_providers {
    proxmox = {
      source = "telmate/proxmox"
      version = "2.9.14"
    }
  }
}
  


provider "proxmox" {  
  pm_api_url = "https://pve.thejfk.ca/api2/json"    
  pm_api_token_id = "terraform@pam!main_terraform"    
  pm_api_token_secret = "b01b0155-c025-4b3a-b173-cb6b1bf9eb17"    
  pm_tls_insecure = false
}

resource "proxmox_lxc" "@@@vm_name" {
    count = @@@count
    features {
        nesting = true
        @@@nfs
    }
    hostname = var.vm_name
    network {
        name = "eth0"
        bridge = "vmbr0"
        gw = var.vm_gw  
        ip = var.vm_ip
        ip6 = "dhcp"
        @@@vlan
    }
    rootfs {
        storage = "ceph"
        size    = var.storage
    }
    ostemplate = "truenas-nfs:vztmpl/ubuntu-22.04-standard_22.04-1_amd64.tar.zst"
    password = var.password
    pool = var.vm_pool
    target_node = var.pve_node
    unprivileged = var.unpriv
    cores = var.cores
    memory = var.memory    
    vmid = var.vmid
    
    ssh_public_keys = <<-EOT    
        ssh-ed25519 b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZWQyNTUxOQAAACAEO+Qp38YjBnm4/+yEePgv+fQDEEjDklKHso4au2gzOAAAAKDH7uJLx+7iSwAAAAtzc2gtZWQyNTUxOQAAACAEO+Qp38YjBnm4/+yEePgv+fQDEEjDklKHso4au2gzOAAAAEA9CsyKpFzb9JJLCODL7QjQQ1nvY2xFHvFqIc+LU/kaNgQ75CnfxiMGebj/7IR4+C/59AMQSMOSUoeyjhq7aDM4AAAAGGtldmluLmEuYnJ1bmVyQGdtYWlsLmNvbQECAwQF kevin@jfkhome
    EOT
}

locals {  
  pve_node         = "var.vm_pool"
  iso_storage_pool = "truenas-nfs"
}

resource "proxmox_cloud_init_disk" "ci" {
  name      = "@@@vm_name"
  pve_node  = local.pve_node
  storage   = local.iso_storage_pool

  meta_data = yamlencode({
    instance_id    = sha1(local.vm_name)
    local-hostname = local.vm_name
  })

  user_data = <<EOT
#cloud-config
users:
  - kevin
ssh_authorized_keys:
  - ssh-rsa b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACAEO+Qp38YjBnm4/+yEePgv+fQDEEjDklKHso4au2gzOAAAAKDH7uJLx+7i
SwAAAAtzc2gtZWQyNTUxOQAAACAEO+Qp38YjBnm4/+yEePgv+fQDEEjDklKHso4au2gzOA
AAAEA9CsyKpFzb9JJLCODL7QjQQ1nvY2xFHvFqIc+LU/kaNgQ75CnfxiMGebj/7IR4+C/5
9AMQSMOSUoeyjhq7aDM4AAAAGGtldmluLmEuYnJ1bmVyQGdtYWlsLmNvbQECAwQF

EOT

  network_config = yamlencode({
    version = 1
    config = [{
      type = "physical"
      name = "eth0"      
    }]
  })
}
