[
{% set ns = namespace(first=true) %}
{% for vm in queryset %}
  {% if (vm.status == 'active' or vm.status == 'paused') and 'vm' in vm.custom_field_data.VMorContainer %}

    {% set context = vm.get_config_context() %}
    
    {%- set ns_vm = namespace(ifaces=[]) -%}

    {# Run through every interface and set networking information #}
    {%- for interface in vm.interfaces.all() -%}
      {%- set ip_obj = interface.ip_addresses.first() -%}
      {%- set ip_str = ip_obj.address | string if ip_obj else "" -%}
      {%- set iface_entry = {
        "name": interface.name,
        "vlan": interface.untagged_vlan.vid if interface.untagged_vlan else 0,
        "bridge": interface.custom_field_data.parent_bridge if interface.custom_field_data.parent_bridge else 'vmbr0',
        "ip": ip_str,
        "is_primary": (vm.primary_ip and ip_str == (vm.primary_ip.address | string))
      } -%}
      {%- set ns_vm.ifaces = ns_vm.ifaces + [iface_entry] -%}
    {%- endfor -%}

    {
      {# Basic variables #}
      "name": "{{ vm.name }}",
      "status": "{{ 'running' if vm.status == 'active' else 'stopped' }}",
      "ssh_keys": "{{ context.ssh_keys | join('\\n') if context.ssh_keys else '' }}",
      "vmid": {{ vm.custom_field_data.vmid or 0 }},
      "desc": "{{ vm.comments | replace('\n', ' ') | replace('"', '\\"') or 'Managed by NetBox' }}",
      "node": "{{ vm.device.name if vm.device else (vm.cluster.name if vm.cluster else 'pve') }}",
      "cores": {{ vm.vcpus | int if vm.vcpus else 1 }},
      "role": "{{ vm.role.name if vm.role else 'default' }}",
      "memory": {{ vm.memory or 1024 }},
      "storage": "{{ vm.custom_field_data.storage_location or 'local-zfs' }}",
      "env": "{{ vm.custom_field_data.dev_or_prod or ' ' }}",
      "disk_size": "{{ (vm.disk / 1000) | int if vm.disk else 8 }}G",
      "pool": "{{ vm.custom_field_data.proxmox_pool or '' }}",
      "start_at_node_boot": {{ "true" if vm.start_on_boot == "on" else "false" }},
      "use_mirror": {{ "true" if vm.custom_field_data.use_mirror == "true" else "false" }},
      "interfaces": {{ ns_vm.ifaces | tojson }},


      {# Image Logic #}
      {%- if vm.custom_field_data.prod_image -%}
        {%- set img = vm.custom_field_data.prod_image -%}
      {%- elif vm.custom_field_data.template == "ubuntu-2204-cloud" -%}
        {%- set img = "ubuntu-cloud" -%}
      {% else -%}
        {% set img = vm.custom_field_data.template or "ubuntu-cloud" %}
      {%- endif -%}
      "image": "{{ img }}",
      "tags": "{{ vm.tags.all() | join(',') }}"
    }

    {# Important: adds a comma after every entry except the last for valid JSON #}
    {{ "," if not loop.last }}

  {% endif %}
{% endfor %}
]